__pycache__/
*.py[cod]
.venv/
.env
.env.*
!.env.example
env/*.env
!env/*.env.example
credentials/
*.csv
*.log
logs/
db.json
outputs/*
!outputs/.gitignore
csv/*/outputs/*
!csv/*/outputs/.gitkeep
.idea/
.vscode/
