# Copy to env/youtube.common.env and keep shared YouTube ranges here.
UTC_OFFSET=+0700
GOOGLE_SHEET_RANGE_SRC_USERNAME=DataSource!G3:G
GOOGLE_SHEET_RANGE_SRC_DATA=DataSource!H3:R
GOOGLE_SHEET_RANGE_DEST=YouTube!A3:P
GOOGLE_SHEET_RANGE_FOR_TWITCH_URL_FROM_YOUTUBE=DataSource!S3:S
GOOGLE_SHEET_RANGE_FOR_TIKTOK_URL_FROM_YOUTUBE=DataSource!AA3:AA
GOOGLE_SHEET_RANGE_FOR_BILIBILI_URL_FROM_YOUTUBE=DataSource!AM3:AM
GOOGLE_SHEET_RANGE_FOR_TWITTER_URL_FROM_YOUTUBE=DataSource!AW3:AW
GOOGLE_SHEET_RANGE_FOR_INSTAGRAM_URL_FROM_YOUTUBE=DataSource!BK3:BK
